.navbar[b-ckgw13vnmu] {
    background-color: #3cb371;
    position: fixed;
    overflow-x: hidden;
    overflow: hidden;
}

.navbar-brand[b-ckgw13vnmu] {
    font-family: Knewave, sans-serif;
    font-size: 2.5rem; 
}

.navbar-nav[b-ckgw13vnmu] {
    flex-direction: row; 
}

.nav-item[b-ckgw13vnmu] {
    margin-right: auto; 
    padding-left: 100px;
}

.sidebar[b-ckgw13vnmu] {
    background-color: #3cb371;
    height: 100vh;
    width: 120px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-menu[b-ckgw13vnmu] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right:40px;
    padding-bottom: 20px;
    list-style: none;
}

.sidebar-item[b-ckgw13vnmu] {
    margin-bottom: 20px;
    text-align: center;
}

.custom-button[b-ckgw13vnmu] {
    background-color: #3cb371;
    border-color: #3cb371;
    width: 100%; 
}

.custom-button:hover[b-ckgw13vnmu] {
    background-color: #2e8b57;
    border-color: white;
}

.custom-button:active[b-ckgw13vnmu] {
    background-color: #228b22;
    border-color: white;
}

.custom-image[b-ckgw13vnmu] {
    width: 20px;
    height: 20px;
}

